.itemQuantityBtn {
    background-color: coral;
    border: none;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    margin-right: 5px;
    color: beige;
    cursor: pointer;
}

.itemQuantityBtn:hover {
    background-color: chocolate;
}

.textDiv {
    display: inline-block;
    margin-right: 10px;
}

li {
    font-size: larger;
    margin-bottom: 15px;
}
